<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="xigen" sortOrder="999" translate="label">
			<label>Xigen</label>
		</tab>
		<section id="autoinvoice" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Auto Invoice</label>
			<tab>xigen</tab>
			<resource>Xigen_AutoInvoice::config_xigen_autoinvoice</resource>
			<group id="autoinvoice" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Auto Invoice</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="payments" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="multiselect">
					<label>Auto Invoice Payments</label>
					<comment/>
					<source_model>Xigen\AutoInvoice\Model\Config\Source\Payments</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
